@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
    background-color: hsl(212, 45%, 89%);
    margin: 100px;
}
main{
    background-color: hsl(0, 0%, 100%);
    width: 28%;
    margin: auto;
    border-radius: 20px;
    padding: 0;
}

.cnt {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}
.fnt {
    text-align: center;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-family: 'Rubik', sans-serif;
    
}
.fnt-2 {
    text-align: center;
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
